.header {
  margin-bottom: 115px;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    .header__logo {
      display: flex;
      align-items: center;

      .header__logo-link {
        margin-right: 25px;
      }

      .header__title {
        font-weight: bold;
        font-size: 24px;
      }
    }

    .header__info {
      .header__link {
        font-weight: bold;
        font-size: 16px;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
