.main {
  margin-bottom: 120px;

  .main__title {
    font-size: 52.25px;
    margin-bottom: 35px;
  }

  .main__text {
    width: 75%;
    font-weight: normal;
    font-size: 32px;
    line-height: 51px;
    margin-bottom: 70px;
  }

  .btn--lg {
    padding: 14px 58px;
    font-size: 24px;
  }
}
